In [38]:
import pandas as pd
import datatime

In [39]:
df_channel = pd.read_csv('orders_channels.csv')
df_country = pd.read_csv('orders_country.csv')
df_tickets = pd.read_csv('orders_tickets.csv')

In [40]:
df_channel.head()

       id        date  channel_id
0   10173  2017-06-12        39.0
1   95062  2017-09-11        35.0
2  171081  2017-07-05        39.0
3  122867  2017-08-18        39.0
4  107186  2017-11-23         NaN

In [41]:
df_channel.shape

(2054059, 3)

In [42]:
df_channel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2054059 entries, 0 to 2054058
Data columns (total 3 columns):
id            int64
date          object
channel_id    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 47.0+ MB

In [43]:
df_country.head()

      id  country_1 country_2
0  10503       24.0       NaN
1  79360       24.0         0
2  81388       24.0        15
3  82828       24.0         9
4  38756       23.0       NaN

In [44]:
df_country.shape

(1917668, 3)

In [45]:
df_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1917668 entries, 0 to 1917667
Data columns (total 3 columns):
id           int64
country_1    float64
country_2    object
dtypes: float64(1), int64(1), object(1)
memory usage: 43.9+ MB

In [46]:
df_tickets.head()

        id  n_tickets type
0  1586391          2  pax
1   438232          2  pax
2   270896          1  pax
3  1181593          2  pax
4   964842          1  pax

In [47]:
df_tickets.shape

(1999716, 3)

In [48]:
df_merged = pd.merge(df_channel, df_tickets, how='left', on=['id'])

In [49]:
df_merged = pd.merge(df_merged, df_country, how='left', on=['id'])

In [50]:
df_merged.head()

       id        date  channel_id  n_tickets   type  country_1 country_2
0   10173  2017-06-12        39.0          2    pax       24.0       NaN
1   95062  2017-09-11        35.0          1    pax       12.0       NaN
2  171081  2017-07-05        39.0          1    pax        4.0        11
3  122867  2017-08-18        39.0          1  other       24.0        17
4  107186  2017-11-23         NaN          2    pax       12.0        20

In [51]:
df_merged.shape

(2084458, 7)

In [52]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2084458 entries, 0 to 2084457
Data columns (total 7 columns):
id            int64
date          object
channel_id    float64
n_tickets     int64
type          object
country_1     float64
country_2     object
dtypes: float64(2), int64(2), object(3)
memory usage: 127.2+ MB

In [53]:
df_merged['date'] = pd.to_datetime(df_merged['date'])

In [54]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2084458 entries, 0 to 2084457
Data columns (total 7 columns):
id            int64
date          datetime64[ns]
channel_id    float64
n_tickets     int64
type          object
country_1     float64
country_2     object
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 127.2+ MB

In [55]:
len(df_merged.id.tolist())

2084458

In [56]:
len(set(df_merged.id))

1970544

### some orders are assigned to two countries, with country_1 being more important. if there is no value in "country_1", use "country_2"

In [57]:
def f(x, y):
    if x is None:
        return y
    return x
               
df_merged['country'] = df_merged['country_1'].apply(f, args=[df_merged['country_2']])

In [58]:
df_merged.head()

,id,date,channel_id,n_tickets,type,country_1,country_2,country
0,10173,2017-06-12,39.0,2,pax,24.0,NaN,24.0
1,95062,2017-09-11,35.0,1,pax,12.0,NaN,12.0
2,171081,2017-07-05,39.0,1,pax,4.0,11,4.0
3,122867,2017-08-18,39.0,1,other,24.0,17,24.0
4,107186,2017-11-23,NaN,2,pax,12.0,20,12.0

In [73]:
df_merged['month'] = df_merged['date'].dt.month
df_merged['day'] = df_merged['date'].dt.day
df_merged['year'] = df_merged['date'].dt.year

In [74]:
df_merged.head()

,id,date,channel_id,n_tickets,type,country_1,country_2,country,month,day,year
0,10173,2017-06-12,39.0,2,pax,24.0,NaN,24.0,6,12,2017
1,95062,2017-09-11,35.0,1,pax,12.0,NaN,12.0,9,11,2017
2,171081,2017-07-05,39.0,1,pax,4.0,11,4.0,7,5,2017
3,122867,2017-08-18,39.0,1,other,24.0,17,24.0,8,18,2017
4,107186,2017-11-23,NaN,2,pax,12.0,20,12.0,11,23,2017

## Approach 1

In [65]:
df_merged_grouped = df_merged.groupby(['channel_id', 'country'])

In [75]:
dict_test = {'date':[], 'country':[], 'channel_id':[], 'n_tickets':[]}

for name,group in df_merged_grouped:
    group = group.sort_values(by=['date'])
    #print(group)
    #print(group.shape)
    
    # for each group train a linear regression model
    # features are month and day, label is the number of tickets
    x_train = group[['month', 'day']]
    y_train = group[['n_tickets']]
    
    model = LinearRegression()
    model.fit(x_train, y_train)
    
    date_test = group.iloc[-1]['date'] + timedelta(days=10)
    x_test = [date_test.dt.year, date_test.dt.month, date_test.dt.day]
    y_test = model.predict(x_test)

    # use the trained linear regression model to predict the number of the tickets in the 10 days after the end of the group
    dict_test['date'].append(date_test)
    dict_test['country'].append(group.iloc[0]['country'])
    dict_test['channel_id'].append(group.iloc[0]['channel_id'])
    dict_test['n_tickets'].append(y_test)

(90, 11)
              id       date  channel_id  n_tickets   type  country_1  \
51102     326998 2017-03-22         1.0          1    pax        4.0
1880258  1478839 2017-04-10         1.0          5    pax        4.0
1071396   719336 2017-04-24         1.0          1    pax        4.0
1038132   760754 2017-05-10         1.0          1    pax        4.0
1849380  1108575 2017-06-08         1.0          1    pax        4.0
271949    273653 2017-06-09         1.0          1    pax        4.0
743        76595 2017-06-10         1.0          1  other        4.0
1189659  1840522 2017-06-19         1.0          1    pax        4.0
1221937  1387923 2017-06-22         1.0          1  other        4.0
1846871  1697859 2017-06-22         1.0          1    pax        4.0
260495    554444 2017-06-25         1.0          1    pax        4.0
1067717    57347 2017-06-30         1.0          2    pax        4.0
219716    166744 2017-07-01         1.0          1    pax        4.0
967042   1849916 2017-07-03         1.0          2    pax        4.0
1256859  1104406 2017-07-03         1.0          1  other        4.0
222406     10719 2017-07-04         1.0          1    pax        4.0
673802   1477332 2017-07-05         1.0          1  other        4.0
850782   1527892 2017-07-06         1.0          2    pax        4.0
621714    721901 2017-07-07         1.0          1  other        4.0
112614    388913 2017-07-10         1.0          2    pax        4.0
1009126  1629943 2017-07-12         1.0          2    pax        4.0
242505    102815 2017-07-14         1.0          1    pax        4.0
1311061   915746 2017-07-15         1.0          1  other        4.0
1344497  1336971 2017-07-15         1.0          1    pax        4.0
101655    689506 2017-07-16         1.0          4    pax        4.0
456712    205136 2017-07-17         1.0          1    pax        4.0
1305432   629378 2017-07-17         1.0          1    pax        4.0
433005    488375 2017-07-20         1.0          1    pax        4.0
76155     174916 2017-07-20         1.0          1    pax        4.0
1603945  1887571 2017-07-25         1.0          1  other        4.0
...          ...        ...         ...        ...    ...        ...
915300   1561553 2017-12-09         1.0          1    pax        4.0
1939014  1960715 2017-12-13         1.0          1    pax        4.0
595009    273611 2017-12-14         1.0          1    pax        4.0
495555    581539 2017-12-24         1.0          1    pax        4.0
1688510  1813815 2018-01-03         1.0          2    pax        4.0
1226591  1667257 2018-01-03         1.0          1  other        4.0
10918     161084 2018-01-03         1.0          1  other        4.0
10917     161084 2018-01-03         1.0          6    pax        4.0
594124    862327 2018-01-03         1.0          2    pax        4.0
1800930  1402936 2018-01-03         1.0          1  other        4.0
664008    504434 2018-01-03         1.0          1    pax        4.0
270037    325970 2018-01-03         1.0          1    pax        4.0
792804   1669983 2018-01-03         1.0          3    pax        4.0
1226592  1667257 2018-01-03         1.0          2    pax        4.0
1133640   914427 2018-01-03         1.0          2    pax        4.0
1281455  1880526 2018-01-03         1.0          1    pax        4.0
1022791   865482 2018-01-03         1.0          1    pax        4.0
2024023  1016497 2018-01-03         1.0          1    pax        4.0
255235    896989 2018-01-03         1.0          1  other        4.0
1503163   432491 2018-01-03         1.0          1    pax        4.0
1579061  1218649 2018-01-03         1.0          1    pax        4.0
1094464  1741744 2018-01-04         1.0          2    pax        4.0
1384595  1231382 2018-01-04         1.0          2  other        4.0
1802753  1539063 2018-01-05         1.0          1    pax        4.0
112103   1004896 2018-01-26         1.0          1    pax        4.0
1411744  1358130 2018-02-03         1.0          1  other        4.0
1892226  1883701 2018-02-13         1.0          2    pax        4.0
1984953  1921727 2018-02-15         1.0          2    pax        4.0
1558006  1901076 2018-02-22         1.0          1  other        4.0
1412236  1913352 2018-02-24         1.0          1    pax        4.0

        country_2  country  month  day  year
51102          17      4.0      3   22  2017
1880258        14      4.0      4   10  2017
1071396        19      4.0      4   24  2017
1038132       NaN      4.0      5   10  2017
1849380        15      4.0      6    8  2017
271949          2      4.0      6    9  2017
743           NaN      4.0      6   10  2017
1189659        12      4.0      6   19  2017
1221937        12      4.0      6   22  2017
1846871       NaN      4.0      6   22  2017
260495         15      4.0      6   25  2017
1067717         0      4.0      6   30  2017
219716         17      4.0      7    1  2017
967042         20      4.0      7    3  2017
1256859       NaN      4.0      7    3  2017
222406          2      4.0      7    4  2017
673802         17      4.0      7    5  2017
850782          6      4.0      7    6  2017
621714          0      4.0      7    7  2017
112614          2      4.0      7   10  2017
1009126         3      4.0      7   12  2017
242505        NaN      4.0      7   14  2017
1311061        19      4.0      7   15  2017
1344497         8      4.0      7   15  2017
101655        NaN      4.0      7   16  2017
456712         19      4.0      7   17  2017
1305432        18      4.0      7   17  2017
433005         12      4.0      7   20  2017
76155          13      4.0      7   20  2017
1603945       NaN      4.0      7   25  2017
...           ...      ...    ...  ...   ...
915300        NaN      4.0     12    9  2017
1939014       NaN      4.0     12   13  2017
595009        NaN      4.0     12   14  2017
495555        NaN      4.0     12   24  2017
1688510        18      4.0      1    3  2018
1226591         3      4.0      1    3  2018
10918           1      4.0      1    3  2018
10917           1      4.0      1    3  2018
594124         12      4.0      1    3  2018
1800930       NaN      4.0      1    3  2018
664008         17      4.0      1    3  2018
270037          9      4.0      1    3  2018
792804         xx      4.0      1    3  2018
1226592         3      4.0      1    3  2018
1133640        11      4.0      1    3  2018
1281455        xx      4.0      1    3  2018
1022791        12      4.0      1    3  2018
2024023         6      4.0      1    3  2018
255235        NaN      4.0      1    3  2018
1503163       NaN      4.0      1    3  2018
1579061       NaN      4.0      1    3  2018
1094464       NaN      4.0      1    4  2018
1384595       NaN      4.0      1    4  2018
1802753       NaN      4.0      1    5  2018
112103        NaN      4.0      1   26  2018
1411744        12      4.0      2    3  2018
1892226        xx      4.0      2   13  2018
1984953         1      4.0      2   15  2018
1558006       NaN      4.0      2   22  2018
1412236       NaN      4.0      2   24  2018

[90 rows x 11 columns]

NameError: name 'timedelta' is not defined

In [ ]:
df_test = pd.Dateframe(dict_test)