In [ ]:
import pandas as pd
import numpy as np

import datetime

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [39]:
df_channel = pd.read_csv('orders_channels.csv')
df_country = pd.read_csv('orders_country.csv')
df_tickets = pd.read_csv('orders_tickets.csv')

In [40]:
df_channel.head()

       id        date  channel_id
0   10173  2017-06-12        39.0
1   95062  2017-09-11        35.0
2  171081  2017-07-05        39.0
3  122867  2017-08-18        39.0
4  107186  2017-11-23         NaN

In [41]:
df_channel.shape

(2054059, 3)

In [42]:
df_channel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2054059 entries, 0 to 2054058
Data columns (total 3 columns):
id            int64
date          object
channel_id    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 47.0+ MB

In [43]:
df_country.head()

      id  country_1 country_2
0  10503       24.0       NaN
1  79360       24.0         0
2  81388       24.0        15
3  82828       24.0         9
4  38756       23.0       NaN

In [44]:
df_country.shape

(1917668, 3)

In [45]:
df_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1917668 entries, 0 to 1917667
Data columns (total 3 columns):
id           int64
country_1    float64
country_2    object
dtypes: float64(1), int64(1), object(1)
memory usage: 43.9+ MB

In [46]:
df_tickets.head()

        id  n_tickets type
0  1586391          2  pax
1   438232          2  pax
2   270896          1  pax
3  1181593          2  pax
4   964842          1  pax

In [47]:
df_tickets.shape

(1999716, 3)

In [48]:
df_merged = pd.merge(df_channel, df_tickets, how='left', on=['id'])

In [49]:
df_merged = pd.merge(df_merged, df_country, how='left', on=['id'])

In [50]:
df_merged.head()

       id        date  channel_id  n_tickets   type  country_1 country_2
0   10173  2017-06-12        39.0          2    pax       24.0       NaN
1   95062  2017-09-11        35.0          1    pax       12.0       NaN
2  171081  2017-07-05        39.0          1    pax        4.0        11
3  122867  2017-08-18        39.0          1  other       24.0        17
4  107186  2017-11-23         NaN          2    pax       12.0        20

In [51]:
df_merged.shape

(2084458, 7)

In [52]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2084458 entries, 0 to 2084457
Data columns (total 7 columns):
id            int64
date          object
channel_id    float64
n_tickets     int64
type          object
country_1     float64
country_2     object
dtypes: float64(2), int64(2), object(3)
memory usage: 127.2+ MB

In [53]:
df_merged['date'] = pd.to_datetime(df_merged['date'])

In [54]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2084458 entries, 0 to 2084457
Data columns (total 7 columns):
id            int64
date          datetime64[ns]
channel_id    float64
n_tickets     int64
type          object
country_1     float64
country_2     object
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 127.2+ MB

In [55]:
len(df_merged.id.tolist())

2084458

In [56]:
len(set(df_merged.id))

1970544

### some orders are assigned to two countries, with country_1 being more important. if there is no value in "country_1", use "country_2"

In [57]:
def f(x, y):
    if x is None:
        return y
    return x
               
df_merged['country'] = df_merged['country_1'].apply(f, args=[df_merged['country_2']])

In [58]:
df_merged.head()

,id,date,channel_id,n_tickets,type,country_1,country_2,country
0,10173,2017-06-12,39.0,2,pax,24.0,NaN,24.0
1,95062,2017-09-11,35.0,1,pax,12.0,NaN,12.0
2,171081,2017-07-05,39.0,1,pax,4.0,11,4.0
3,122867,2017-08-18,39.0,1,other,24.0,17,24.0
4,107186,2017-11-23,NaN,2,pax,12.0,20,12.0

In [73]:
df_merged['month'] = df_merged['date'].dt.month
df_merged['day'] = df_merged['date'].dt.day
df_merged['year'] = df_merged['date'].dt.year

In [111]:
df_merged.head()

,id,date,channel_id,n_tickets,type,country_1,country_2,country,month,day,year
0,10173,2017-06-12,39.0,2,pax,24.0,NaN,24.0,6,12,2017
1,95062,2017-09-11,35.0,1,pax,12.0,NaN,12.0,9,11,2017
2,171081,2017-07-05,39.0,1,pax,4.0,11,4.0,7,5,2017
3,122867,2017-08-18,39.0,1,other,24.0,17,24.0,8,18,2017
4,107186,2017-11-23,NaN,2,pax,12.0,20,12.0,11,23,2017

In [ ]:
set(df_merged['channel_id'].tolist())

## Approach 1

In [65]:
df_merged_grouped = df_merged.groupby(['channel_id', 'country'])

In [108]:
dict_test = {'date':[], 'country':[], 'channel_id':[], 'n_tickets':[]}

for name,group in df_merged_grouped:
    group = group.sort_values(by=['date'])
    #print(group)
    #print(group.shape)
    
    # for each group train a linear regression model
    # features are month and day, label is the number of tickets
    x_train = group[['year', 'month', 'day']]
    y_train = group[['n_tickets']]
    
    scaler = StandardScaler()
    scaler.fit(x_train)
    x_train_scaled = scaler.transform(x_train)

    model = LinearRegression()
    model.fit(x_train, y_train)
    
    date_test = group.iloc[-1]['date'] + pd.Timedelta(days=10)
    x_test = np.array([date_test.year, date_test.month, date_test.day]).reshape(1,3)
    x_test_scaled = scaler.transform(x_test)
    y_test = model.predict(x_test_scaled)

    # use the trained linear regression model to predict the number of the tickets in the 10 days after the end of the group
    dict_test['date'].append(date_test)
    dict_test['country'].append(group.iloc[0]['country'])
    dict_test['channel_id'].append(group.iloc[0]['channel_id'])
    if round(y_test[0][0]) < 0:
        y_test[0][0] = 0
    dict_test['n_tickets'].append(round(y_test[0][0]))

In [109]:
df_test = pd.DataFrame(dict_test)

In [110]:
df_test

          date  country  channel_id  n_tickets
0   2018-03-06      4.0         1.0        2.0
1   2018-01-30      5.0         1.0        2.0
2   2018-01-13      7.0         1.0        2.0
3   2017-07-20      8.0         1.0        2.0
4   2018-02-17      9.0         1.0        1.0
5   2018-03-07     11.0         1.0        2.0
6   2018-02-12     12.0         1.0        2.0
7   2018-02-10     14.0         1.0        1.0
8   2018-01-13     15.0         1.0        1.0
9   2018-02-03     16.0         1.0        1.0
10  2018-02-03     19.0         1.0        2.0
11  2018-01-13     20.0         1.0        2.0
12  2018-02-19     21.0         1.0        0.0
13  2018-01-13     23.0         1.0        2.0
14  2018-03-08     24.0         1.0        1.0
15  2018-02-19     26.0         1.0        3.0
16  2018-01-14     27.0         1.0        2.0
17  2018-02-11     29.0         1.0        3.0
18  2017-09-03     31.0         1.0        4.0
19  2018-03-02     32.0         1.0       -2.0
20  2017-12-23      4.0         2.0        2.0
21  2017-12-16      5.0         2.0        1.0
22  2017-10-30      7.0         2.0        2.0
23  2017-12-15      8.0         2.0        1.0
24  2017-12-17      9.0         2.0        2.0
25  2017-12-14     11.0         2.0        1.0
26  2017-12-15     12.0         2.0        2.0
27  2017-10-22     17.0         2.0        1.0
28  2017-11-25     19.0         2.0        1.0
29  2017-10-27     20.0         2.0        2.0
..         ...      ...         ...        ...
382 2017-08-06     27.0        42.0        1.0
383 2017-04-05     29.0        42.0        6.0
384 2017-12-28      4.0        43.0        5.0
385 2018-02-05     11.0        43.0        2.0
386 2018-01-26     24.0        43.0        3.0
387 2018-02-25     27.0        43.0        1.0
388 2017-03-29      4.0        47.0        1.0
389 2017-05-20     24.0        47.0        1.0
390 2018-03-08      4.0        49.0        3.0
391 2018-03-07      5.0        49.0        2.0
392 2017-10-02      7.0        49.0        1.0
393 2018-02-11      8.0        49.0        1.0
394 2018-01-25      9.0        49.0        0.0
395 2018-03-08     11.0        49.0        2.0
396 2018-03-08     12.0        49.0        2.0
397 2018-01-10     14.0        49.0        1.0
398 2018-02-01     15.0        49.0        3.0
399 2017-12-29     16.0        49.0        1.0
400 2017-11-07     17.0        49.0        2.0
401 2018-03-03     19.0        49.0        1.0
402 2018-01-21     20.0        49.0        2.0
403 2018-03-01     21.0        49.0        2.0
404 2018-03-03     23.0        49.0        2.0
405 2018-03-08     24.0        49.0        2.0
406 2018-02-27     26.0        49.0        1.0
407 2018-03-01     27.0        49.0        1.0
408 2018-02-13     28.0        49.0        2.0
409 2018-02-14     29.0        49.0        1.0
410 2018-01-25     31.0        49.0        1.0
411 2018-02-16     32.0        49.0        1.0

[412 rows x 4 columns]

## Approach 2

consider date (year, month, day), channel_id, n_tickets, country as features

In [ ]:
x_train = df_merged[['group_id', 'country', 'year', 'month', 'day']]

In [ ]:
y_train = df_merged[['n_tickets']]